body {
  font-family: sans-serif;
  font-weight: 200; 
}

.navbar {
  margin-bottom: 50px; 
}

ul {
  list-style: none;
}

.item {
  display: block;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 3px;
  height: 80px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}